@import url('https://fonts.cdnfonts.com/css/pt-mono');
@import url('https://fonts.cdnfonts.com/css/aref-ruqaa');

* {
    padding: 0px;
    margin: 0px;

}

body {

    background-color: #EDECE4;
    border: 10px solid #CBC6B9;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 116px;
}

main {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 876px;
    margin-top: 76px;

}

main>div {
    width: 100%;

}

p {
    font-size: 18px;
    color: black;
    font-family: "PT Mono", monospace;
    line-height: 30px;
    color: #2A2426;


}

.textDay {
    font-size: 18px;
    color: black;
    font-family: "PT Mono", monospace;
    line-height: 30px;
    color: #2A2426;
}

.logo {
    width: 201px;
    height: 126px;


}

main>img {
    width: 680px;
    height: 875px;

}

span {
    display: flex;
    align-items: center;
    gap: 29px;

}

.markerGreen {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: #1AB912;

}

.textHours {
    width: 318px;
    height: 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 2px solid #2A2426;
    border-bottom: 2px solid #2A2426;


}

.textLocation {
    width: 318px;
    height: 82px;
    border-right: 2px solid #2A2426;
    display: flex;
    flex-direction: column;
    gap: 60px;

}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;

}

.textNumber {

    font-family: "Aref Ruqaa", serif;
    line-height: 30px;
    color: #988C77;

}

.textWrapper>h1 {
    letter-spacing: -55px;
    font-family: "PT Mono", monospace;
    font-size: 220px;
    color: #2A2426;
    font-weight: 100;


}

section {
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 1200px;
    height: 607px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 52px;
    height: fit-content;

}

.menu>h1 {
    font-family: "PT Mono", monospace;
    font-size: 18px;
    font-weight: 100;
    align-self: center;

}


.lineDiv {
    background-color: #2A2426;
    width: 285px;
    height: 2px;

}

menu>h1 {
    display: flex;

    font-family: "Aref Ruqaa", serif;
    font-size: 24px;
    font-weight: 100;
}

/* codiigo do professor */
menu {
    display: flex;
    flex-direction: row;
    gap: 126px;

}

li {
    display: flex;
    gap: 10px;
    font-family: "Aref Ruqaa", serif;
    font-size: 18px;
    color: #988C77;

}

ul {
    display: flex;
    flex-direction: column;
    gap: 3px;

}

.menu {
    display: flex;
    flex-direction: column;

}

.title-menu {
    display: flex;
    align-items: center;
    height: fit-content;
    gap: 50px;

}

.main-menu {
    display: flex;
    flex-direction: column;
    gap: 26px;

}

.main-menu>h3 {
    font-family: "Aref Ruqaa", serif;
    font-size: 24px;
    font-weight: 30;
    padding-left: 60px;

}
