@import url('https://fonts.cdnfonts.com/css/pt-mono');
@import url('https://fonts.cdnfonts.com/css/aref-ruqaa');

* {
    padding: 0px;
    margin: 0px;

}

body {

    background-color: #CDDACE;
    border: 10px solid #3A5A40;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 116px;
}

main {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 876px;
    margin-top: 76px;

}
p,
input,
label,
button {
    font-size: 18px;
    font-family: "PT Mono", monospace;
    line-height: 35px;
    color: #284134;

}

.hero-wrapper > img {
    width: 201px;
    height: 126px;


}

main>img {
    width: 680px;
    height: 875px;

}

span {
    display: flex;
    align-items: center;
    gap: 29px;

}

.marker-green {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: #31C076;

}

.work-time {
    width: 318px;
    height: 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 2px solid #284134;
    border-bottom: 2px solid #284134;


}

.text-location {
    width: 318px;
    height: 82px;
    border-right: 2px solid #284134;
    display: flex;
    flex-direction: column;
    gap: 60px;

}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;

}

.text-number,
button {

    font-family: "PT Mono", monospace;
    line-height: 30px;
    color: #284134;

}
.hero-wrapper>h1 {
    letter-spacing: -55px;
    font-family: "PT Mono", monospace;
    font-size: 220px;
    color: #284134;
    font-weight: 100;


}

section {
    display: flex;
 
    gap: 60px;
    width: 1200px;
    margin-left: 10px;
}
 
.menu {
    display: flex;
    align-items: center;
    gap: 52px;
    height: fit-content;

}

.menu>h1 {
    font-family: "PT Mono", monospace;
    font-size: 18px;
    font-weight: 100;
    align-self: center;

}


menu>h1 {
    display: flex;

    font-family: "Aref Ruqaa", serif;
    font-size: 24px;
    font-weight: 100;
}

/* codiigo do professor */
menu {
    display: flex;
    gap: 126px;

}

li {
    display: flex;
    gap: 10px;
    font-family: "Aref Ruqaa", serif;
    font-size: 18px;
    color: #284134;

}

ul {
    display: flex;
    flex-direction: column;
    gap: 3px;

}

.menu {
    display: flex;
    flex-direction: column;

}

.title-section {
    display: flex;
    align-items: center;
    height: fit-content;
    gap: 50px;

}

.line-div {
    background-color: #284134;
    width: 285px;
    height: 2px;

}

.line-contact {
    width: 243px;

}

.main-menu {
    display: flex;
    flex-direction: column;
    gap: 26px;

}

.main-menu>h3 {
    font-family: "Aref Ruqaa", serif;
    font-size: 24px;
    font-weight: 30;
    padding-left: 60px;

}

.contacts {
    margin-left: 60px;
}

form {
    width: 679px;
    display: flex;
    flex-direction: column;

}

form>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

form>div>p {
    text-align: right;

}

.column {
    display: flex;
    flex-direction: column;
    width: 388px;
}

input {
    height: 40px;
    border: 2px solid #284134;
    background-color: transparent;

}

textarea {
    border: 2px solid #284134;
    background: transparent;
    margin-bottom: 20px;


}

div>.column:last-child {
    width: 263px;

}

button {
    width: 200px;
    height: 40px;
    background: transparent;
    border: 2px solid #284134;
    box-shadow: 5px 5px 0px -2px #CBC6B9, 5px 5px 0px 0px #284134;
}

font>div:last-child {
    margin-top: 21px;

}
map {
    display: flex;
    justify-content: center;

}
.main-menu {
    width: 345px;

}

iframe {
    width: 679px;
    height: 226px;
    box-shadow: 0px 0px 0px 10px #284134;
    margin-top: 48px;
}

footer {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #284134;
    box-shadow: 0px 0px 0px 10px #284134;
}

footer>p {
    color: #EDECE4;

}

@media(max-width: 520px){

    body {
        gap:80px

    }
    main {
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
    }
    main > img {
        display: none;
    }
    .hero-wrapper {
        align-items: center;

    }
    .hero-wrapper > :nth-child(3) {
        font-size: 100px;
        letter-spacing: 0px;
    
    }
    .text-location {
        gap:24px;

    }
    section {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 35px;

    }
    menu>img {
        width: 200px;
        height: 200px;

    }
    menu {
        flex-direction: column;
        align-items: center;
        gap: 48px;

    }
    .title-section {
        gap: 23px;

    }
    .main-menu{
        align-items: center;
        width: 100%;

    }
    form > div {
        flex-direction: column;
        gap: 20px;

    }
    .main-menu>h3 {
        padding-left: 0px;

    }
    .contacts {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    form {
        width: 100%;
    }
    form :nth-child(3){
        display: flex;
        flex-direction: column  ;
    }
    .column, div > .column:last-child  {
        width: 100%;

    }
    iframe {
        width: 80%;
        
    }
    footer {
        height: 120px;
    }

    
}