* {
    padding: 0px;
    margin: 0px;

}

body {

    background-color: #EDECE4;
    border: 10px solid #CBC6B9;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
main {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 876px;
    margin-top: 76px;

}
main > div {
   width: 100%;

}
div > p {
    font-size: 18px;
    color: black;
    font-family: "PT Mono", monospace;
    line-height: 30px;
    color: #2A2426;


}
.textDay {
    font-size: 18px;
    color: black;
    font-family: "PT Mono", monospace;
    line-height: 30px;
    color: #2A2426;
}

.logo {
    width: 201px;
    height: 126px;


}
main > img {
    width: 680px;
    height: 875px;

}
span {
    display: flex;
    align-items: center;
    gap: 29px;

}

.markerGreen {
    width: 12px;
    height: 12px;
     border-radius: 12px;
     background-color: #1AB912;

}

.textHours {
    width: 318px;
    height: 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    border-right: 2px solid #2A2426;
    border-bottom: 2px solid #2A2426;
    

}

.textLocation {
    width: 318px;
    height: 82px;
    border-right: 2px solid #2A2426;
    display: flex;
    flex-direction: column;
    gap: 60px;

}
.textWrapper{
    display: flex;
    flex-direction: column;
    gap: 60px;

}
.textNumber {

    font-family: "Aref Ruqaa", serif;
    line-height: 30px;
    color: #988C77;

}
.textWrapper > h1 {
   letter-spacing: -55px;
   font-family: "PT Mono", monospace;
    font-size: 220px; 
    color: #2A2426;
    font-weight: 100;


}
section {
    display: flex;
    justify-content: space-between;

    gap: 60px;
}
.menu{
    display: flex;
    justify-content: center;
    gap: 52px;
}
.lineDiv {
    margin-top: 14px;
    align-items: center;  
    border: 1px solid black;
    width: 285px;
    height: 2px;
  
}
.menuTitle {
    display: flex;
    justify-content: center;
    font-family: "Aref Ruqaa", serif;
    font-size: 24px;
    font-weight: 100;

}
.menuOptions {
    display: flex;
    gap: 10px;
}